<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @lunch.day %>
</p>

<p>
  <b>Fruit:</b>
  <%= @lunch.fruit %>
</p>

<p>
  <b>Items:</b>
  <%= @lunch.items %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
